@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.spin-animation {
  animation: spin-animation 1s ease-in-out infinite;
}

.spin-animation-linear {
  animation: spin-animation 1s linear infinite;
}

@keyframes spin-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-primary);
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 1px;
  position: relative;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform 0.3s ease-out;
  transform: scaleX(0);
  transform-origin: top right;
}

button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

button:hover {
  background-color: var(--color-primary);
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

header {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 10px;
  text-align: center;
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-secondary);
}

.upperbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-secondary);
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
}

.upperbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
}

.upperbar > .sort,
.upperbar > .search {
  margin: 5px;
  padding: 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container {
  padding: 10px;
}

.upload {
  margin-left: 2rem;
  gap: 10px;
}

.visualizer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: var(--color-secondary);
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.tab {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-left: 1rem;
}

.controls {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
